/* .track-text { */
/* width: 100%;
    justify-content: center;
    position: relative;
    padding-top: 1rem;
    font-size: 2.3rem;
    0.031rem */
/* position: relative;
    font-family: "Hanson";
    font-style: normal;
    font-weight: 700;
    padding-bottom: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.031rem;
    text-transform: uppercase;
    background-color: white;
}


.track-conatainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
    background-color: white;
} */

/* .organ-container{   
    
    display: flex;
    justify-content: center;
    align-items: center;    
} */

/* .card-section1 {
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: row;
    top: 9rem;
    justify-items: right;
    justify-content: right;
    cursor: pointer;
    right: 10rem;
    z-index: 1;
    width: 25rem;
    
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:white;);

    
}

.card1 {
    width: 38rem;
    box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

/* .card-text{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
} */
/* .text {
    width: 100%;
}

.img {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 23rem;

}

.players {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    margin-left: none;
    margin-right: none;
    width: 60%;
    padding-top: 6rem;
    line-height: 2rem;
    
}

.track1 {
    
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    cursor: pointer;
    font: var(--primary-font);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.track2 {
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    cursor: pointer;
    font: var(--primary-font);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.track3 {
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font: var(--primary-font);
    border-radius: 2rem;
    margin-bottom: 2rem;

} */
/* 
.track4 {
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font: var(--primary-font);
    border-radius: 2rem;
    margin-bottom: 2rem;

} */

/* assests */

/* .img1 {
    position: absolute;
    display: block;
    z-index: 0;


}

.hole {
    bottom: 2rem;
    right: 25rem;
    display: block;
}

.hole2 {
    top: 0rem;
    left: 3rem;
}

.track {
   
    top: -3rem;
    right: 20rem;

} */
/* 
.column {
    top: 10rem;
    left: 0rem;
}

.sidestairs2 {
    bottom: 2rem;
    left: 1rem;
}

.greenmonster {
    top: 1rem;
    left: 15rem;
}

.staircubes {
    width: 10%;
    height: 10%;
    top: 2rem;
    right: 0;
}

.sidestairs {
    bottom: 5rem;
    right: -.5rem;
}

@media screen and (max-width:1090px) {

    .org {
        font-size: .8rem;
    }

    .organize-text-p {
        font-size: .5rem;
    } */

/* .organ-container{
        width: 80%;
        position: absolute;
        top: 30%;
    }
    .twitter ,.insta{
        width: 40%;
    } */
/* .img1 {
        display: none;
    }

} */
/* @media screen and (max-width:1000px) {

    .card-section1 {
        flex-direction: column;
        width: 30%;
        justify-content: right;
        right: 3rem;
        align-items: center;

    }
    .card-section1 .card1 {
        max-width: 25%;
        display: none;
    }

}


@media screen and (max-width:680px) {
    .card-section1 {
        flex-direction: column;
        display: none;

    }

    .card-section1 .card1 {
        max-width: 25%;
        display: none;
    }

    .card-text {
        align-items: center;
        padding: .5rem;

    }

    .players {
        display: block;
        justify-content: center;
        max-width: 70%;
        justify-content: center;
        font-size: small;
      
    }


} */

/* @media screen and (max-width:920px){
    .organ-container{
        width: 80%;
        position: absolute;
        top: 30%;
    }
    .card{
        width: 70%;
    }
    
    .twitter ,.insta{
        width: 70%;
    }
    
}

@media screen and (max-width:650px) {
    .organize-text{
        top: 8%;
    }

    .entire{
        height: 200vh;
}
    .organ-container{
        width: 80%;
        position: absolute;
        top: 32%;
    }
    .content-section{
        flex: 1 1 100%;
        height: 100vh;
        flex-direction: column;
    }
    .card{
        width: 40%;
    }

    .twitter ,.insta{
        width: 30%;
    }

}
@media screen and (max-width:460px){

    .organize-text-p ,.org{
        font-size: 0.8rem;
    }
    .entire{
        height: 200vh;
}
    .organize-text{
        top: 10%;
    }
    .card{
        width: 60%;
    }

    .twitter ,.insta{
        width: 40%;
    }
}

@media screen and (max-width:320px) {

    .organize-text{
        top: 6%;
    }

    .entire{
        height: 170vh;
}
    .organ-container{
        width: 80%;
        position: absolute;
        top: 30%;
    }
    .content-section{
        flex: 1 1 100%;
        height: 100vh;
        flex-direction: column;
    }
    .card{
        width: 70%;
    }

    .twitter ,.insta{
        width: 50%;
    }
}

@media screen and (max-width:290px) {
    .organize-text{
        top: 4%;
        font-size: 1.2rem;
    }

    .entire{
        height: 200vh;
}
    .organ-container{
        width: 80%;
        position: absolute;
        top: 24%;
    }
    .content-section{
        flex: 1 1 100%;
        height: 100vh;
        flex-direction: column;
    }
    .card{
        width: 80%;
    }

    .twitter ,.insta{
        width: 50%;
    }
} */
/* 
@media screen and (max-width:680px) {
    .card-section1 {
        flex-direction: column;
        display: none;

    }

    .card-section1 .card1 {
        max-width: 25%;
        display: block;
        flex-direction: column;
    }

    .card-text {
        align-items: center;
        padding: .5rem;

    }

    .socials-buttons {
        display: flex;
        justify-content: center;
    }


}

/* Reset default styles for the audio element */
/* audio {
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

/* Style the progress bar container */
/* audio::-webkit-media-controls-enclosure {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

audio::-webkit-media-controls-play-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


audio::-webkit-media-controls-volume-slider {
    width: 100px;
    background-color: transparent;
    border: none;
}

/* Customize the volume slider track */
/* audio::-webkit-media-controls-volume-slider-container {
    margin-left: 10px;
}


audio::-webkit-media-controls-volume-slider-thumb {
    background-color: #007bff;
    width: 10px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


audio::-webkit-media-controls-timeline {
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}


audio::-webkit-media-controls-timeline::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-timeline::-webkit-media-controls-time-remaining-display {
    display: none;
}


audio::-webkit-media-controls-timeline::-webkit-media-controls-played-bar {
    background-color: #007bff;
    border-radius: 5px;
    overflow: hidden;
}   */

.Theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  position: relative;
  overflow: hidden; 
}
.Theme-text {
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
}
.Theme-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem 1rem 1rem;
  z-index: 1;
}

.bg-transparent {
    background-color: transparent;
}

/* theme grid */
.track-row{
    display: grid;
    margin-top:50px;
		padding-bottom: 30px;
    width: 80%;
    /* column-gap: 2.5em; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left-container {
  display: flex;
  position: relative; 
  flex-direction: column; 
  margin-right: 20px !important;
  width: 100%;
  padding-top: 2rem;
  line-height: 2rem;
}
.track {
  width: 100%;
  cursor: pointer;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15%;
  text-align: start;
  font-family: var(--secondary-font) !important;
  font-weight: 900 !important;
  /* text-shadow: 4px 4px 4px var(--primary-color); */
	text-shadow: 0px 4px, 4px 0px, 4px 4px;
	color: #6A6C6E;
  font-size: 4em;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  transition: font-size 0.2s ease;
}
.track:hover {
  font-size: 5rem;
	text-shadow: 0px 4px, 4px 0px, 4px 4px;
  color: var(--primary-color);
}
.track-selected{
    font-size: 5rem;
		text-shadow: 0px 4px, 4px 0px, 4px 4px;
    color: var(--primary-color);
}
.right-container {
    width: 450px;
    box-sizing: content-box;
    height: 620px;
    justify-self: start;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin:auto;
    margin-left: 0;
    padding: 10px;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 5px 12px 22px rgba(16, 16, 16, 0.7);
}
.right-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 40, 40, 0.395);
    backdrop-filter: blur(8px);
    z-index: 1;
  }
  
  /* .right-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
  } */

.music-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-42%);
  height: 100%;
  width:23em;
  z-index: 2;
  border-radius: 2rem;
  margin: auto;
  /* margin-top: 1.8em !important; */
  z-index: 5;
  /* box-shadow: 0px 2px 20px 0px rgba(96, 96, 96, 0.2); */
}
.music-img {
  margin: auto;
  width: 100%;
  height: 19em;
  z-index: 5;

  /* padding-left: 10px; */
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border: 0px;
  /* padding: 20%; */
  border-radius: 0.8rem;
}

.music-card-text {
  z-index: 5;
  position: relative;
  color: var(--primary-font);
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
}
.text-music {
	font-family: var(--primary-font);
	color:#fff;
  width: 100%;
  font-size: 2em !important;
}
.theme-text-p {

	font-size: 1em !important;
}
.theme-org {
	opacity: 70%;
  font-size: 1.3rem;
  font-weight: 800;
}

/* :root{
    --maincolor:#fff;
   --mainlightcoloe :rgba(235,235,235,0.5);
   --maindimcolor:rgb(228,228,228);
} */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.song-slider {
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
	outline: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/

/* for only Firefox, IE */
input[type="range"]::-moz-range-progress {
  background: #4caf50;
}
input[type="range"]::-ms-fill-lower {
  background: #4caf50;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: var(--primary-color);
  overflow: visible;
  cursor: pointer;
}

.current-time,
.song-duration-time {
  font-size: 16px;
  color: white !important;
}
.current-time{
	position: absolute;
	top:30px;
  left: 0;
}
.song-duration-time {
  position: absolute;
	top:30px;
  right: 0;
}
.controls {
	position: relative;
	top:1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.play-btn {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
  animation: pulse 2s linear infinite;
}

.play-btn::before,
.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.play-btn::before {
	translate: 2px 0px;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent black;
}

.play-btn.pause::before {
	translate: -2px 0px;
  width: 10px;
  height: 30px;
  border-width: 0 0 0 5px;
  border-color: transparent transparent transparent black;
}

.play-btn.pause::after {
  width: 10px;
  height: 30px;
  border-width: 0 5px 0 0;
  border-color: transparent black transparent transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(241, 240, 240, 0.4);
  }
}


.btn-control {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: white;
}


@media screen and (max-width: 1090px) {
    .Theme-container{
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width: 850px) {
    .track-row{
        display: flex;
				flex-direction: column-reverse;
    }
		.track{
			font-size: 2em;
			text-align: center;
		}
		.track:hover{
			font-size: 2.5em;
		}
		.track-selected{
			font-size: 2.5em;
		}
    .right-container{
        margin:auto !important;
        margin-top: 15px;
    }

}

@media screen and (max-width: 500px) {
	.track-row{
		margin-top: 30px;
		padding-bottom: 0px;
	}

	.play-btn{
		height: 60px;
		width:60px;
	}

	.btn-control{
		height: 40px;
		width: 40px;
	}

	.seek-bar::-webkit-slider-thumb{
		height: 14px;
		width: 14px;
	}

	.current-time, .song-duration-time{
		font-size: 12px;
	}

  .right-container{
    width: 270px;
    height: 470px;
  }

  .music-card{
    width: 14em;
  }
  
  .music-img {
    height: 13em;
  }

}